{% extends "_base.html" %}

{% block content %}

<h1>Test Recrutement Lengow</h1>

<div class="row">
    <div class="col-lg-6">
        <h2>Commandes enregistrées</h2>
        {% for order in object_list %}
        <p>
            <a href="{% url 'orders:order' order.id %}">Commande n°{{ order.id }}</a>
        </p>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <h2>Recherche (par marketplace)</h2>
        <form method="get" action="{% url 'orders:results' %}">
            <div>
                <input type="text" name="query" class="form-control" placeholder="Pour ce test, commandes Amazon ou Cdiscount" required>
            </div>
            <div>
             <button type="submit">Go!</button>
            </div>
        </form>   
    </div>
</div>

<div class="row">
    <h2>Cliquez pour créer une nouvelle commande</h2>
</div>

{% endblock %}
